body, html {
  	height:100%;
  	background: #2b2b2b;
	padding:0;
	margin:0;
	width:100%;
        min-height:100%;
}

#loginCont{
	background-image:url(../images/bg_grad.gif);
	background-repeat:repeat-x;
	padding: 0;
	height:100%;
	width:100%;
	min-height:400px;
}
#loginSpacer{
	min-height:10%;
	height:20%;}

#messagediv{
        margin: 0 auto;
        color:#F00;
        font-family: Verdana;
        font-size: 1.1em;
        vertical-align:middle;
        padding-top: 6%;
        overflow: hidden;
        text-align:center;}

/*#loginSpacer p{
        vertical-align:middle;}*/

#loginHere{
	background-image:url(../images/login_bg.png);
	background-repeat:no-repeat;
	width:425px;
	height:255px;
	overflow: hidden;
	border:1px solid #999;
	margin: 0 auto;
	}
	
#loginFormDiv{
	background-image:url(../images/grabber_login.gif);
	background-repeat:no-repeat;
	background-position:center top; 
	margin-top: 42px;
	margin-left:auto;
	margin-right:72px;
	width:270px;
	padding-top:40px;
	padding-left:10px;
	}
#loginForm{
	width:250px;
}
#Lsubmit{
	background-color:#0099cc;
	border: 2px solid #03F;
	border-color: #3CF #36c #36C #3CF ;
	width:110px;
	height:26px;
	margin-top: 8px;
	margin-left:151px;
	font:15px arial,sans-serif;
	font-style:normal;
	color:#DDD;
}
#Lsubmit:hover{
	background-color:#F90;
	border: 2px solid #FC0;
	border-color: #FC0 #F60 #F60 #FC0 ;
	}
	
.Linput{
  margin: 0;
  border: 1px solid #DDD;
  border-color: #9b9b9b #ededed #DDD #c2c2c2;
  padding:5px 4px 4px 4px;
  margin-top: 8px;
  margin-bottom:3px;
  width:100%;
  font:15px arial,sans-serif;
  color:#666;
/*  padding: 1ex 1em .8ex; */
}
.Linput:focus{
	background-color:#FFC;
	color:#000;}
.rememberdiv{
/*  font:12px arial,sans-serif;*/
  color:#DDD;
}

.rememberdivchecked{
/*  font:12px arial,sans-serif;*/
  color:#F90;}
/*#rememberdiv{
     padding:0; 
}*/
/*#remember{
    margin-left: 0;
    margin-right: 6px;
    border: 1px solid #DDD;
    border-color: #9b9b9b #ededed #DDD #c2c2c2;
    margin-top: 8px; }*/

#rememberdiv ul {
white-space:nowrap;
padding: 0;
margin: 0;
font-family: Verdana;
font-size: 0.8em;
}
#rememberdiv ul li {
display: inline;
white-space:nowrap;
}
#rememberdiv ul li label {
vertical-align:middle;
padding-right: 0px;
margin-left: 0;
margin-top: 2px;
}
#rememberdiv ul li input {
margin-bottom: auto;
vertical-align:middle;
margin-left: 0;
    margin-right: 2px;
}
#rememberdiv ul li:first-child label{
padding-right: 0;
}