/* 
    Document   : yp_style
    Created on : Jan 26, 2013, 3:49:05 AM
    Author     : shirker
    Description:
        Purpose of the stylesheet follows.
*/
/*.header-panel {
  padding: 1ex 0;
  height: 71px;
  background: transparent }*/

.home_main #global-header {
  position: static; }

.home_main .header-panel {
  height: 78px;
  padding: 8px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.clearfix, .panel, .section, .row, #canvas {
  zoom: 1; }

.clearfix:after, .panel:after, .section:after, .row:after, #canvas:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.header-navigation .panel, .unverified-user .panel {
    width: 1000px;
    margin: 0 auto; }

.unverified-user .panel {
    position: relative; }

.header-panel .panel {
    width: 664px;
    margin: 0 auto; }

.home_main .header-panel .panel {
    width: 770px;
    height: 66px;
    padding: 10px 0 10px 24px;
    background-repeat: no-repeat;
    background-image: url('../images/layout.png');
    background-position: 0px -229px; }
/*.panel {
    width: 770px;
    height: 66px;
    padding: 10px 0 10px 24px;
    background-repeat: no-repeat;
    background-image: url('/YP_downloader_Beta_0_1/images/layout_09.png');
}*/

.header-branding {
  float: left;
  margin-right: 1.7em; }

.header-branding .yp-logo {
    display: block;
    overflow: hidden;
    text-indent: 101%;
    background: url('../images/layout.png') no-repeat 0px -540px;
    width: 45px;
    height: 44px; }

.header-search {
  float: left;
  margin-top: 1.3ex; }

.home_main .header-branding .yp-logo {
  background: url('../images/layout.png') no-repeat 0px -429px;
  width: 64px;
  height: 61px; }


.home_main .header-search {
/*  margin-top: 2.249ex; */
margin-top: 12px;
}

.home_main .header-branding .yp-logo {
  background: url('../images/layout.png') no-repeat 0px -429px;
  width: 64px;
  height: 61px; }
.search-form label, .search-form input {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif; }
.search-form .label, .search-form .near, .search-form input {
  vertical-align: middle; }
.search-form .label, .search-form .near {
  margin-right: .458em;
  display: inline-block; }
.search-form .near {
  font-size: 1.167em;
  color: #ddd; }
.search-form .label {
  position: relative; }
.search-form label {
  position: absolute;
  top: 7px;
  left: 1.1em;
  opacity: 0;
  color: #777;
  font-weight: normal;
  font-style: italic; }
.search-form input[type=text] {
  margin: 0;
  border: 1px solid #DDD;
  border-color: #9b9b9b #ededed #DDD #c2c2c2;
/*  padding:4px 4px 2px 4px;*/
  padding: .5ex 1em .8ex; 
}


#search-submit {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 .5em;
  padding: 0;
  border: 0;
  text-align: left;
  text-indent: 101%;
  text-transform: capitalize;
  background: url('../images/layout.png') no-repeat 0px -149px;
  width: 55px;
  height: 30px; }

.home_main .search-form label, .home_main .search-form input {
  /*font-size: 1.167em;*/
     font-size: 16px;}

.home_main .search-form label {
  top: 8px; }

.home_main #search-submit {
  background: url('../images/layout.png') no-repeat 0px -65px;
  width: 87px;
  height: 34px;
  }

.home_main #search-terms {
  width: 278px;
  }

.home_main #search-location {
  width: 166px;
  font-size: 16px;
 }

/*#global-header{ }*/

.header-navigation{
    height: 16px;}

root { 
    display: block;
}

            /* Autocomplete
----------------------------------*/
.ui-autocomplete-menu { position: absolute; cursor: default; }  
.ui-autocomplete { 
    background: white;
    font-size: 16px;
    width: 268px;
    color: #000;
    cursor: default;
}
.ui-autocomplete a{
    color: #000;
}
.ui-autocomplete a:hover{
    background: #f4c901;
}
.ui-autocomplete-loading { 
    background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat; 
 }
.ui-autocomplete-over { background-color: #0A246A; color: white; }

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}